extends layout

block content
  h1=title

  form(method='POST')
    div.form-group
      label(for='first_name') First Name:
      input#first_name.form-control(type='text', placeholder='First name (Christian)' name='first_name' required value=(undefined===cartographer ? '' : cartographer.first_name) )
      label(for='family_name') Family Name:
      input#family_name.form-control(type='text', placeholder='Family name (Surname)' name='family_name' required value=(undefined===cartographer ? '' : cartographer.family_name))
      label(for='portrait') Portrait:
      input#portrait.form-control(type='text', placeholder='https://i.imgur.com/BgZg9G0.jpeg' name='portrait' required value=(undefined===cartographer ? '' : cartographer.portrait))
      label(for='nationality') Nationality:
      input#nationality.form-control(type='text', placeholder="'Spanish', 'German', 'Russian'..." name='nationality' required value=(undefined===cartographer ? '' : cartographer.nationality))
      label(for='description') Description:
      input#description.form-control(type='text', placeholder='Enter description of the cartographer' name='description' required value=(undefined===cartographer ? '' : cartographer.description))
    div.form-group
      label(for='date_of_birth') Date of birth:
      input#date_of_birth.form-control(type='date' name='date_of_birth' value=(undefined===cartographer ? '' : cartographer.date_of_birth) )
      label(for='date_of_death') Date of death:
      input#date_of_death.form-control(type='date' name='date_of_death' value=(undefined===cartographer ? '' : cartographer.date_of_death) )
    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg
