extends layout

block content
  h1 #{title}: #{maptype.name}
  p= maptype.description 

  p Do you really want to delete this maptype?

  form(method='POST')
    div.form-group
      input#maptypeid.form-control(type='hidden', name='maptypeid', value=maptype._id )

    button.btn.btn-primary(type='submit') Delete